.container {
	width: 100%;
	height: 100%;
}

.descriptionModulo3_1 {
	font-size: 1.2rem;
	padding-left: 5rem;
	margin-top: 1.8rem;
}
.cardsModulo3_1 {
	width: 90%;
	height: 30%;
	margin: 3rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}

.card-group {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 14%;
}

.cardModulo3_1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: var(--color-gray);
	color: var(--color-black);
}

.active {
	background-color: var(--color-red);
	color: var(--color-white);
}

.line-card {
	display: flex;
	border: solid 10px var(--color-gray);
	width: 100%;
	height: 5%;
	margin-top: 0.5rem;
}

.line-active {
	border: solid 10px var(--color-red);
}
