.row{
    display: flex;
    margin: 10px;
    max-height: 500px;
    overflow: auto;
}

.column1 {
    float: left;
    width: 49%;
    height: 100%;
    padding: 5px;
}

.column2{
    border-left: 1px double  ;
    height: 58rem;
}

.column3{
    float: left;
    width: 49%;
    height: 100%;
    padding: 5px;
}
   
.row:after {
    content: "";
    display: table;
    clear: both;
}

.politicaPrivacidade{
    display: flex;
    justify-content: center;
    margin: 5px auto;
}

.TitlePrivacidade{
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: underline;
}

.textContentPrivadidade{
 margin-bottom: 5px;
 text-align: justify;

}

.listInfoColetadas{
    margin-left: 30px;
}

.itensList{
    margin-bottom: 10px;
}

.negrito{
    font-weight: bold;
}
