.descriptionModulo5_7 {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
}

.contentCardModulo5_7 {
	margin-left: 30px;
	margin-top: 60px;
	width: 40%;
}

.backgrounCardModulo5_7 {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #68b984;
	width: 45px;
	height: 35px;
}

.iconTextMoule5_7 {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-top: 5px;
	text-decoration: none;
	color: black;
}

.iconTextMoule5_7 p {
	margin-left: 10px;
	font-weight: bold;
}

.cardDescriptionModulo5_7 {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	background-color: #d9d9d9;
	border-radius: 10px;
	margin-top: 30px;
	margin-left: 30px;
	width: 90%;
	padding: 2rem;
}
