.FaPlayCircle {
	padding-right: 5px;
}

.buttonStart {
	position: relative;
	width: 100%;
	height: 20%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: max(20px, 1.2rem);
}

.button {
	background: linear-gradient(
		90deg,
		var(--color-red) 0%,
		var(--color-cobit) 100%
	);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 70%;
	height: 50%;
	animation: pulsar 2s infinite ease-in-out;
}
.texto {
	margin-left: -6rem;
}

@keyframes pulsar {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.09);
	}
	100% {
		transform: scale(1);
	}
}

@media screen and (max-width: 768px) {
	.buttonStart {
		top: 10%;
	}
	.button {
		width: 80%;
	}
}
