*{
  padding: 0;
  margin: 0;
  font-family: var(--font-inter);
  overflow: hidden;

}

.button-3d {
  position: relative;
  width: 60px;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 50%;
  border: solid 1px #f39c12;
  background: #e67e22;
  text-align: center;
  padding: 16px 18px 14px;
  margin: 12px;
  transition: all 0.1s;
  box-shadow: 0px 6px 0px #d35400;
  height: 60px;
  display: flex ;
  justify-content: center;
  align-items: center;
  
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
    
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
}

.button-3d:active{
  -webkit-box-shadow: 0px 2px 0px #d35400;
  -moz-box-shadow: 0px 2px 0px #d35400;
  box-shadow: 0px 2px 0px #d35400;
  position:relative;
  top:4px;
}

.button-3d:hover{
  background-color: #fa6400;
}