.contentFim {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

.backgroundFim {
	display: flex;
	justify-content: center;
	width: 50%;
}

.backgroundFim p {
	width: 50%;
	font-size: 20px;
	text-align: justify;
}

.backgroundFim p a {
	text-decoration: underline;
	color: var(--color-blue);
}

.contentFim img {
	margin-left: 150px;
	width: 30%;
}
