.backgroundFim{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.backgroundFim p{
    width: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: justify;
}

.contentFim{
    display: flex;
    width: 100%;
    align-items: center;
}

img{
    margin-left: 150px;
	width: 50%;
}