body {
	background-color: #fff;
}

.container-home {
	display: flex;
	height: 100%;
	align-items: center;
	margin-left: 10vw;
	margin-right: 8vw;
}

.circuloHome {
	width: 35vw;
	height: 35vw;
	border-radius: 100%;
	background-color: rgba(198, 54, 114, 0.1);
	position: absolute;
	left: -10rem;
}
.intro {
	width: 60%;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.intro .title {
	font-size: 3rem;
	font-weight: 100;
}

.logo-cobit-home {
	color: var(--color-red);
}

.intro .subTitle {
	font-size: 2.5rem;
}

.intro .subTitle p {
	display: inline;
	color: var(--color-blue);
}

.ano {
	font-size: 1.5rem;
	color: var(--color-red);
}

.intro .description {
	font-size: 1.4rem;
	width: 80%;
	text-align: left;
}

.img-container {
	display: flex;
	align-items: center;
	width: 40%;
}

.imgIntro {
	display: flex;
	border-radius: 10px;
	height: 80vh;
	margin-bottom: 20px;
	position: relative;
}

@media screen and (max-width: 768px) {
}
