body {
	background-color: #fff;
}

.container {
	display: flex;
	margin-left: 10vw;
	margin-right: 8vw;
}

.circulo {
	width: 35vw;
	height: 35vw;
	border-radius: 100%;
	background-color: rgba(198, 54, 114, 0.1);
	position: absolute;
	left: -10rem;
	margin-top: 2vh;
}
.intro {
	width: 60%;
}

.intro .title {
	margin-top: 120px;
	font-size: 3rem;
	font-weight: 100;
}

.logo-cobit-home {
	color: var(--color-red);
}

.intro .subTitle {
	font-size: 2.5rem;
}

.ano {
	font-size: 1.5rem;
	color: var(--color-red);
}

.intro .description {
	margin-top: 50px;
	font-size: 1.4rem;
	width: 60%;
	text-align: left;
	font-weight: bold;
}

.img-container {
	display: flex;
	align-items: center;
	width: 40%;
}

.imgIntro {
	display: flex;
	border-radius: 10px;
	height: 80vh;
	margin-bottom: 20px;
	position: relative;
}
