.container-home {
	display: flex;
	height: 100%;
	align-items: center;
	margin-left: 10vw;
	margin-right: 8vw;
}

.circuloHome {
	width: 35vw;
	height: 35vw;
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	background-color: rgba(198, 54, 114, 0.1);
	position: absolute;
	left: 5rem;
}
.intro {
	width: 60%;
	height: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.intro .title {
	font-size: max(40px, 4vw);
	font-weight: 300;
}

.logo-cobit-home {
	color: var(--color-cobit);
}

.intro .subTitle {
	font-size: max(25px, 3.5vw);
}

.intro .subTitle p {
	display: inline;
	color: var(--color-blue);
}

.ano {
	font-size: max(20px, 1.5vw);
	color: var(--color-cobit);
}

.intro .description {
	font-size: max(20px, 1.6vw);
	text-align: left;
}

.img-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 40%;
	height: 100%;
	z-index: 0;
	border-radius: 10px;
}

.img-container img {
	width: 120%;
}

@media screen and (max-width: 768px) {
	.container-home {
		flex-direction: column;
		justify-content: space-between;
	}

	.intro {
		width: 100%;
		margin-top: 8vw;
	}

	.img-container {
		width: 100%;
		margin-top: 8vw;
	}
}
