container {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-areas: 'navbar' 'main' 'footer';

	header {
		grid-area: navbar;
	}

	main {
		grid-area: main;
	}

	footer {
		grid-area: footer;
	}
}
