container {
	display: grid;
	grid-template-areas:
		'header'
		'main'
		'footer';

	grid-template-rows: 8vh 90vh 8vh;
	min-height: 100vh;

	header {
		grid-area: header;
	}

	main {
		grid-area: main;
	}

	footer {
		grid-area: footer;
	}
}
