footer {
	display: flex;
	font-size: max(12px, 0.8vw);
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding: 5px;
	justify-content: center;
	align-items: center;
	background-color: var(--color-gray);
	color: #000;
	text-align: center;
	z-index: 999;
}

b {
	margin-left: 0.5rem;
}
