.container {
	width: 100%;
	height: 100%;
}

.cardsModulo3_5 {
	width: 90%;
	height: 30%;
    margin-top: 8rem;
    margin-left: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}

.card-group {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 14%;
}

.card1-group {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 14%;
}

.card1Modulo3_5 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	max-height: 500px;
	background-color: var(--color-gray);
	color: var(--color-black);
}
.card1Modulo3_5 p{
    width: 80%;
    text-align: center;
}

.line{
    border-bottom: 1px solid #000;
    height: 1px; 
    background-color: #fff; 
    border: none; 
}


.card2Modulo3_5,
.card3Modulo3_5,
.card4Modulo3_5,
.card5Modulo3_5 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: var(--color-gray);
	color: var(--color-black);
}

.active {
	background-color: var(--color-red);
	color: var(--color-white);
}

.line-card {
	display: flex;
	border: solid 10px var(--color-gray);
	width: 100%;
	height: 5%;
	margin-top: 0.5rem;
}

.line-active {
	border: solid 10px var(--color-red);
}
