.contentCardModulo3_9 {
	width: 80%;
	margin-left: 140px;
	margin-top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cardInfoEdm1 {
	display: flex;
	background-color: var(--color-blue-light);
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
}

.cardInfoEdm1 p {
	text-align: center;
	padding: 5px;
	font-size: 0.9rem;
	color: var(--color-white);
	font-weight: 500;
}

.line-cardInfoEdm1 {
	margin: 8px 0 8px 0;
	border-left: 5px dotted var(--color-blue-light);
	height: 100px;
	width: 0;
}

.aling-line-Modulo3_9 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.line-cardInfoEdm1 {
	margin: 8px 0 8px 0;
	border-left: 5px dotted var(--color-blue-light);
	height: 100px;
	width: 0;
}
