.navBar {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 60px;
    justify-content: space-between;
    padding-left: 30px;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .icon-1,
  .icon-2,
  .icon-3 {
    margin-right: 50px;
  }
  
  
  .icons p {
    padding-left: 20px;
  }