* {
	margin: 0;
	padding: 0;
}

.contentModulo3_8 {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.edmBackground {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
	border-radius: 20px 20px 0 0;
	width: 80%;
	height: 70px;
	background-color: #ff745c;
}

.meaBackground {
	display: flex;
	flex-direction: column;
	border-radius: 0 0 20px 0;
	justify-content: space-around;
	align-items: center;
	margin-top: 5px;
	width: 20%;
	height: 97.5%;
	box-sizing: border-box;
	background-color: #ff745c;
}

.cardApoBaiDssMea {
	width: 80%;
	height: 385px;
	display: flex;
	gap: 5px;
}

.cardApoBaiDss {
	width: 90%;
	display: flex;
	flex-direction: column;
}

.apoBackground,
.baiBackground {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-right: 14rem;
	margin-top: 5px;
	width: 100%;
	height: 35%;
	background-color: #ff745c;
}

.dssBackground {
	display: flex;
	border-radius: 0 0 0 20px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-right: 14rem;
	margin-top: 5px;
	width: 100%;
	height: 25%;
	background-color: #ff745c;
}

.cardModulo3_8 {
	display: flex;
	background-color: #fff;
	width: 13%;
	height: 50px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}

.cardMeaModulo3_8 {
	display: flex;
	margin-top: 10px;
	background-color: #fff;
	width: 70%;
	height: 50px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}

.textEdmModulo3_8 {
	display: flex;
}
