footer {
    display: flex;
    width: 99%;
    position: absolute;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #fff;
    color: #000;
    text-align: center;
    
  }