@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
	--color-blue: #142d64;
	--color-red: #950137;
	--color-logo: #e3a5a5;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-gray: #d3d3d3;
	--color-green: #00a19d;
	--font-inter: 'Inter', sans-serif;
}
* {
	padding: 0;
	margin: 0;
	font-family: var(--font-inter);
	overflow: hidden;
}

body {
	background-color: var(--color-white);
}
