.circulo_1 {
	width: 35vw;
	height: 35vw;
	border-radius: 100%;
	background-color: rgba(198, 54, 114, 0.1);
	position: absolute;
	left: -5rem;
    margin-top: 40rem;
    
}
.circulo_2 {
	width: 10vw;
	height: 10vw;
	border-radius: 100%;
	background-color: rgba(198, 54, 114, 0.1);
	position: absolute;
	left: 22rem;
    margin-top: 15rem;
}

.circulo_3 {
	width: 20vw;
	height: 20vw;
	border-radius: 100%;
	background-color: rgba(198, 54, 114, 0.1);
	position: absolute;
	right: -5rem;
    top: -20rem;
    margin-top: 15rem;
}

.containerMap{
	display: flex;
	height: 100%;
	align-items: center;
}

.descriptionModulo2{
    margin-left: 3rem;
    
}

.bolder{
    font-size: 40px;
    font-weight: bolder;
}

.subtitleModulo2{
    font-size: 25px;
    width: 80%;
}

.introImg{
    position: absolute;
    right: 5rem;
}

.introModulo2{
    width: 100vh;
    height: 70vh;
}